.header {
    @include left-alignment;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    &--small {
        @include alignment-small;
        margin-top: 24px;
    }
    &__logo {
        &--small {
            width: 131px;
            height: 27px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 61px;
        &--small {
            gap: auto;
        }
        &__text-list {
            display: flex;
            gap: 71px;
            @media (max-width: $lg) {
                gap: 51px;
            }
            &__item {
                @include text-base($font-weight: 500);
                background-color: transparent;
                border: none;
                cursor: pointer;
                &--violet {
                    color: $violet;
                }
            }
        }
        &__icon-list {
            display: flex;
            align-items: center;
            gap: 21px;
            &--small {
                gap: 18px;
            }
            &__search {
                width: 31px;
                height: 31px;
            }

            &__user-icon {
                width: 61.929px;
                height: 62.657px;
                &--small {
                    width: 40px;
                    height: 40px;
                }
            }

            &__select {
                @include text-base($size: 18px, $font-weight: 600);
                border: none;
            }

            &__menu-icon {
                width: 40px;
                height: 30px;
            }
        }
    }
}
