.homepage {
    &__stack {
        @include stack($flexdirection: row, $gap: 16px);
        &--mobile {
            @include stack($flexdirection: column, $gap: 16px);
        }
    }
    &__image {
        &--ellipse {
            position: absolute;
            z-index: -1;
            right: -89px;
            margin-top: 60px;
        }
    }
}
