.homepage {
    &__stack {
        @include stack();
    }
    &__image {
        &--ellipse {
            position: absolute;
            z-index: -1;
            right: -89px;
            margin-top: 60px;
        }
    }
}
