.sidebar {
    @media (min-width: $mobile) {
        @include stack($flexdirection: column, $gap: 80px);
        margin-left: 96px;
        margin-top: 34px;
        max-width: 300px;
    }
    @media (max-width: $mobile) {
        @include stack($flexdirection: row, $gap: 6px);
        @include alignment-small;
        margin-top: 56px;
    }
    &__language-selector {
        @include text-base($size: 18px, $color: $white, $font-weight: 600);
        align-self: flex-start;
        border: none;
    }
    &__preferences {
        width: 30px;
        height: 30px;
        padding: 7px;
        cursor: pointer;
    }
    &__menu {
        @include stack($flexdirection: column, $gap: 30px);
        &__text,
        &__slider,
        &__table {
            align-self: flex-start;
        }
        &__text {
            @include text-base($size: 18px, $font-weight: 600);
        }
        &__slider {
            margin-bottom: 40px;
        }
        &__image {
            @media (min-width: $mobile) {
                height: 244px;
                margin-bottom: 60px;
            }
            &--lines {
                position: absolute;
                z-index: -1;
                left: 37px;
            }
            &--star {
                position: absolute;
                z-index: -1;
                right: 19px;
                @media (max-width: $mobile) {
                    width: 94px;
                    height: 94px;
                    right: -9px;
                }
            }
        }
    }
}
